				<!-- Spotlight 03 Left -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Reciprocity in Prosocial Exchange</h2>
                        <p>Reciprocity implies equality in the giving and receiving of benefits. However, we find that reciprocity does not generate equal benefits, in terms of social status. Instead, across seven studies (N = 3426), observers conferred more status to individuals who initiated (i.e., initiators) than individuals who reciprocated (i.e., reciprocators) identical prosocial acts. Further, choosing not to reciprocate a prosocial act led to a more severe status penalty than choosing not to initiate a prosocial act. We find this discounting of reciprocity is driven by perceived obligation—observers view reciprocators as acting under constraint. When reciprocation appears less obligatory (e.g., given indirectly, or privately), the status discount is mitigated. Finally, we show that the discounting of a reciprocal act can be enduring—reciprocators still received less status after two successive, counterbalanced rounds of exchange.</p>
                        <header>
                              <p>Flynn, F. J.*, & Yu, A.* (in press). Better to Give than Reciprocate? Status Conferrals and the Norm of Reciprocity in Prosocial Exchange. Journal of Personality and Social Psychology.    *joint first authorship</p>
                                        </header>
                    </div>
                    <div class="image">
                        <img src="images/reciprocity.jpeg" alt="" />
                    </div>
                </section>